/* google fonts style */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");

body{
    font-family: 'Work Sans';
}
* {
  margin: 0;
  padding: 0;
}

/* nav section styles */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo-text{
    font-size: 45px;
font-style: normal;
font-weight: 700;
color: #0B0223;
}
.logo-special{
    color: #FF42A5 ;
}
.nav-items ul{
    display: flex;
    align-items: center;
}
.nav-items ul li{
    list-style: none;
    margin-left: 15px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav-items ul li a{
    text-decoration: none;
}
.follow-us{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 17px 24px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-text{
    background: url('../images/Group\ 14.png');
    background-size: contain;
    padding: 210px 135px;
}
.banner-title-1{
    color: #0B0223;
font-size: 48px;
font-weight: 600;
}
.banner-title-2{
    font-size: 95px;
font-weight: 800;
color: #F948B2 ;
}
.text{
    color: #534C64;
    font-size: 20px;
font-weight: 500;
}
.sign-btn, .go-btn{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: 0;
padding: 21px 40px;
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
margin-top: 40px;
}
.go-btn{
    border-radius: 48px;
background: #4EC5F7;
}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* online games section styles */
.online-games-title{
    color: #0B0223;
font-size: 48px;
font-weight: 700;
text-align: center;
margin-top: 120px;
}
.games-title-2{
    color: #F948B2;
font-size: 48px;
font-weight: 700;
}
.games-description{
    color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 48px;
}
.games-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.games-container img{
    width: 100%;
    border-radius: 16px;
    margin-bottom: 24px;
}

/* play instant section styles */
.play-instant-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    margin-top: 120px;
}
.play-instant-img{
    position: relative;
    margin-bottom: 150px;
}
.overlap-img{
    position: absolute;
    bottom: -79px;
    left: -140px;
}

/* games types styles */
.games-type-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* text-align: center; */
    display: grid;
    grid-template-columns: repeat(5,2fr);
    justify-self: unset;
}
.game-type-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer section styles */
footer{
    padding: 120px 300px;
    text-align: center;
    background: #0B0223;
    color: white;
}
.footer-logo{
    display: flex;
    justify-content: center;
    gap: 20px;
}
footer .logo-text{
    color: white;
}
footer .game-types{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
footer .game-types p{
    margin-left: 15px;
}
.terms{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.terms p{
    margin-left: 15px;
}
.copyright{
    text-align: center;
    margin-top: 15px;
}



@media screen and (max-width: 576px) {
    nav, .nav-items ul, .banner, .play-instant-container{
        flex-direction: column;
        gap: 40px;
    }
    .banner{
        flex-direction: column-reverse;
        margin-top: 30px;
    }
    .banner-text{
        padding: 30px 35px;
        background-size: contain;
    }
    .banner-img img{
        width: 70%;
        height: 70%;
    }
    .banner-img{
        text-align: center;
    }
    .games-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        text-align: center;
    }
    .play-instant-container{
        text-align: center;
    }
    .main-img{
        width: 70%;               
    }
    .overlap-img{
        width: 40%;
        bottom: 145px;
        right: 120px;
    }
    
}

